<%- include('../partials/header') %> 
<header>
    <h1><%= title %> </h1>
</header>
<main>
    <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="width: 30rem;">
        <img src="<%= fish.imageUrl %>" class="card-img-top" alt="fish-image">
        <div class="card-body">
            <h1 class="card-title"><%= fish.species %></h1>
        </div>
        <div class="card-body">
            <form action="/users/profile/fishcollection/<%= fish._id %>?_method=PUT" method="POST">
                <input type="text" value="<%=fish.species%>" name="species" placeholder="Fish Species">
                <label for='agresive'>Agresive? <input type='checkbox' name='agresive'<%=fish.agresive ? 'checked' : ''%>></label>
                <button type="submit">Edit</button>
            </form>
    </div>

<%- include('../partials/footer') %>