<%- include('../partials/header') %> 
<header>
    <h1><%= title %> </h1>
</header>

<main>
<% users.forEach((u)=>{ %>
    <div class="card shadow p-3"style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title"><%= u.name %></h5>
            <p class="card-text">Bio: <%= u.bio %></p>
        </div>
        <div class="card-body">
            <form action="/users/<%= u._id %>" class="card-link" method="GET">
                <button class="btn btn-secondary" type="submit">Check <%= u.name %>'s Tank</button>
            </form>
        </div>
    </div>
<% }) %> 


<%- include('../partials/footer') %>  
