<%- include('../partials/header') %> 
    <div id ="profile"class="card shadow p-3"style="width: 25rem;">
      <h1><%= title %> </h1><br>
        <img id="profilepic"src="<%= user.avatar %>" class="card-img-top" alt="fish-image">
        <div class="card-body">
            <h2 class="card-title"><%= user.name %></h2>
            <p class="card-text"><%= user.bio %></p>
            <h6 class="card-title">Add or make changes to your bio:</h6>
            <% if(!user.bio){ %>
                <form action="/users/profile?_method=PUT" method="POST">
                <input type="text" placeholder="Introduce Yourself!" name="bio" >
                <button type="submit">Add Bio</button>
                </form>
            <% } else{ %>
                <form action="/users/profile?_method=PUT" method="POST">
                    <input type="text" placeholder="Update Your Bio"name="bio">
                    <button class="btn btn-info" type="submit">Submit</button>
                </form>
            <% } %> 
        </div>
        <div id="viewtank"class="card-body">
            <a href="/users/profile/fishcollection" class="card-link">View Your Tank</a>
        </div>
    </div>


<%- include('../partials/footer') %> 